<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
						   http://www.springframework.org/schema/beans 
						   http://www.springframework.org/schema/beans/spring-beans.xsd
						   http://www.springframework.org/schema/tx 
						   http://www.springframework.org/schema/tx/spring-tx.xsd
						   http://www.springframework.org/schema/aop 
						   http://www.springframework.org/schema/aop/spring-aop.xsd
						   http://www.springframework.org/schema/context 
						   http://www.springframework.org/schema/context/spring-context.xsd">
						   
	
	<!-- 引入proerties文件,使用classpath下的文件，需要加前缀"classpath:" -->
    <context:property-placeholder location="classpath:dbinfo.properties"/>
	
	<!-- 配置数据源 -->   
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        <property name="driverClass" value="${jdbc.driverClass}"></property>
        <property name="jdbcUrl" value="${jdbc.url}"></property>
        <property name="user" value="${jdbc.username}"></property>
        <property name="password" value="${jdbc.password}"></property>
        <property name="initialPoolSize" value="10"></property>
        <property name="maxIdleTime" value="20"></property>
        <property name="maxPoolSize" value="100"></property>
        <property name="minPoolSize" value="10"></property>
        <property name="maxStatements" value="200"></property>
    </bean>
	
	<bean name="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"></property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.current_session_context_clas">thread</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
			</props>
		</property>
		<property name="mappingLocations" value="classpath:com/yumazhe/pojo/*.hbm.xml"></property>
	</bean>
	
	<!-- 配置dao层类的bean -->
 	<bean name="associationInfoDao" class="com.yumazhe.dao.impl.AssociationInfoDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
 	<bean name="contactDao" class="com.yumazhe.dao.impl.ContactDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean name="dailyActivityDao" class="com.yumazhe.dao.impl.DailyActivityDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean name="fileDao" class="com.yumazhe.dao.impl.FileDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean name="incomeOrPayoutDao" class="com.yumazhe.dao.impl.IncomeOrPayoutDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean name="keyEventDao" class="com.yumazhe.dao.impl.KeyEventDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean name="moneyDao" class="com.yumazhe.dao.impl.MoneyDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean name="noticeDao" class="com.yumazhe.dao.impl.NoticeDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean name="permissionDao" class="com.yumazhe.dao.impl.PermissionDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean name="positionDao" class="com.yumazhe.dao.impl.PositionDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	<bean name="userDao" class="com.yumazhe.dao.impl.UserDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!-- 配置service层类的bean -->
	<bean name="associationInfoService" class="com.yumazhe.service.impl.AssociationInfoServiceImpl">
		<property name="associationInfoDao" ref="associationInfoDao"></property>
	</bean>
	<bean name="contactService" class="com.yumazhe.service.impl.ContactServiceImpl">
		<property name="contactDao" ref="contactDao"></property>
	</bean>
	<bean name="dailyActivityService" class="com.yumazhe.service.impl.DailyActivityServiceImpl">
		<property name="dailyActivityDao" ref="dailyActivityDao"></property>
	</bean>
	<bean name="fileService" class="com.yumazhe.service.impl.FileServiceImpl">
		<property name="fileDao" ref="fileDao"></property>
	</bean>
	<bean name="incomeOrPayoutService" class="com.yumazhe.service.impl.IncomeOrPayoutServiceImpl">
		<property name="incomeOrPayoutDao" ref="incomeOrPayoutDao"></property>
		<property name="moneyDao" ref="moneyDao"></property>
	</bean>
	<bean name="keyEventService" class="com.yumazhe.service.impl.KeyEventServiceImpl">
		<property name="keyEventDao" ref="keyEventDao"></property>
	</bean>
	<bean name="moneyService" class="com.yumazhe.service.impl.MoneyServiceImpl">
		<property name="moneyDao" ref="moneyDao"></property>
	</bean>
	<bean name="noticeService" class="com.yumazhe.service.impl.NoticeServiceImpl">
		<property name="noticeDao" ref="noticeDao"></property>
	</bean>
	<bean name="permissionService" class="com.yumazhe.service.impl.PermissionServiceImpl">
		<property name="permissionDao" ref="permissionDao"></property>
	</bean>
	<bean name="positionService" class="com.yumazhe.service.impl.PositionServiceImpl">
		<property name="positionDao" ref="positionDao"></property>
	</bean>
	<bean name="userService" class="com.yumazhe.service.impl.UserServiceImpl">
		<property name="userDao" ref="userDao"></property>
		<property name="positionDao" ref="positionDao"></property>
	</bean>
	
	<!-- 配置Action类 -->
	<bean name="redirectHome" class="com.yumazhe.action.HomeAction" scope="prototype">
		
	</bean>
	<bean name="userAction" class="com.yumazhe.action.UserAction" scope="prototype">
		<property name="userService" ref="userService"></property>
		<property name="permissionService" ref="permissionService"></property>
		<property name="positionService" ref="positionService"></property>
	</bean>
	<bean name="noticeAction" class="com.yumazhe.action.NoticeAction" scope="prototype">
		<property name="noticeService" ref="noticeService"></property>
		<property name="userService" ref="userService"></property>
	</bean>
	<bean name="moneyAction" class="com.yumazhe.action.MoneyAction" scope="prototype">
		<property name="moneyService" ref="moneyService"></property>
		<property name="incomeOrPayoutService" ref="incomeOrPayoutService"></property>
		<property name="userService" ref="userService"></property>
	</bean>
	<bean name="dailyActivityAction" class="com.yumazhe.action.DailyActivityAction" scope="prototype">
		<property name="dailyActivityService" ref="dailyActivityService"></property>
	</bean>
	<bean name="associationInfoAction" class="com.yumazhe.action.AssociationInfoAction" scope="prototype">
		<property name="associationInfoService" ref="associationInfoService"></property>
	</bean>
	<bean name="contactAction" class="com.yumazhe.action.ContactActiion" scope="prototype">
		<property name="contactService" ref="contactService"></property>
	</bean>
	<bean name="keyEventAction" class="com.yumazhe.action.KeyEventAction" scope="prototype">
		<property name="keyEventService" ref="keyEventService"></property>
		<property name="userService" ref="userService"></property>
	</bean>
	<bean name="fileAction" class="com.yumazhe.action.FileAction" scope="prototype">
		<property name="fileService" ref="fileService"></property>
		<property name="userService" ref="userService"></property>
	</bean>
	
	<!-- 	事务管理器  -->
	<bean name="txManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<!-- 事务详情 ，进行具体事务设置 -->
	<tx:advice id="associationInfoTxAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="add" />
			<tx:method name="remove" />
			<tx:method name="modify" />
		</tx:attributes>
	</tx:advice>
	<tx:advice id="contactTxAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="add" />
			<tx:method name="remove" />
			<tx:method name="modify" />
		</tx:attributes>
	</tx:advice>
	<tx:advice id="dailyActivityTxAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="add" />
			<tx:method name="remove" />
			<tx:method name="modify" />
		</tx:attributes>
	</tx:advice>
	<tx:advice id="fileTxAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="add" />
			<tx:method name="remove" />
			<tx:method name="modify" />
		</tx:attributes>
	</tx:advice>
	<tx:advice id="incomeOrPayoutTxAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="add" />
			<tx:method name="remove" />
		</tx:attributes>
	</tx:advice>
	<tx:advice id="keyEventTxAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="add" />
			<tx:method name="remove" />
			<tx:method name="modify" />
		</tx:attributes>
	</tx:advice>
	<tx:advice id="noticeTxAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="add" />
			<tx:method name="remove" />
			<tx:method name="modify" />
		</tx:attributes>
	</tx:advice>
	<tx:advice id="permissionTxAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="add" />
			<tx:method name="remove" />
		</tx:attributes>
	</tx:advice>
	<tx:advice id="positionTxAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="add" />
			<tx:method name="remove" />
		</tx:attributes>
	</tx:advice>
	<tx:advice id="userTxAdvice" transaction-manager="txManager">
		<tx:attributes>
			<tx:method name="register" />
			<tx:method name="nullify" />
			<tx:method name="modify" />
			<tx:method name="transfer"/>
		</tx:attributes>
	</tx:advice>
	
	<!-- aop，自动代理UserServiceImpl类对象 -->
 	<aop:config>
		<aop:advisor advice-ref="associationInfoTxAdvice" pointcut="execution(* com.yumazhe.service.AssociationInfoService.*(..))" />
		<aop:advisor advice-ref="contactTxAdvice" pointcut="execution(* com.yumazhe.service.ContactService.*(..))" />
		<aop:advisor advice-ref="dailyActivityTxAdvice" pointcut="execution(* com.yumazhe.service.DailyActivityService.*(..))" />
		<aop:advisor advice-ref="fileTxAdvice" pointcut="execution(* com.yumazhe.service.FileService.*(..))" />
		<aop:advisor advice-ref="incomeOrPayoutTxAdvice" pointcut="execution(* com.yumazhe.service.IncomeOrPayoutService.*(..))" />
		<aop:advisor advice-ref="keyEventTxAdvice" pointcut="execution(* com.yumazhe.service.KeyEventService.*(..))" />
		<aop:advisor advice-ref="noticeTxAdvice" pointcut="execution(* com.yumazhe.service.NoticeService.*(..))" />
		<aop:advisor advice-ref="permissionTxAdvice" pointcut="execution(* com.yumazhe.service.PermissionService.*(..))" />
		<aop:advisor advice-ref="positionTxAdvice" pointcut="execution(* com.yumazhe.service.PositionService.*(..))" />
		<aop:advisor advice-ref="userTxAdvice" pointcut="execution(* com.yumazhe.service.UserService.*(..))" />
	</aop:config>
</beans>